<html>
    <head>
        <meta charset="utf-8">
      
        {% if title %}
        <title>{{ title }} - branched poetry</title>
        {% else %}
        <title>branched poetry</title>
        {% endif %}

        <style>
            nav a {
                margin: 0 10px;
            }
        </style>
        
        {% block style %}{% endblock %}

        {% block script %}{% endblock %}
    </head>
    <body>
        <nav>
            <a href="{{ url_for('instruction') }}">instruction</a>
            <a href="{{ url_for('index') }}">creation</a>
        </nav>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>