{% extends 'base.html' %}

{% block style %}
  <style>
    #instructionLink {
      text-decoration-line: underline;
    }

    .warningText {
      color: red;
    }

    .warningBox {
      border: 1px solid red;
      border-radius: var(--panelBorderRadius);

      padding: 5px;
    }
  </style>
{% endblock %}

{% block content %}

<span class="warningText">Warning</span><br>
<div class="warningBox">
  I do not guarantee this site will exist any particular amount of time. (Its main purpose is to demonstrate my skills in web development.) If you care to preserve your work, please make a copy.
</div>

<h2>About the programme</h2>

The programme is used to create poems together. Each user can add his own verse to a given poem. The resulting poem branches into added verses, hence the name of the programme.

<h2>Usage</h2>

The programme supports four different operations:
<ul>
  <li>
    Choosing an existing verse<br>
    Click the "existent matches" list item to add a verse to the current poem.
  </li>
  <li>
    Creating a new verse<br>
    Enter the text of the new verse in the "new verse" edit box and press ENTER to add the verse to the current poem. The edit field can also be used to filter the "existent matches" list.
  </li>
  <li>
    Starting over<br>
    Press the "start over" button to restart the poem.
  </li>
  <li>
    Downloading a poem<br>
    Press the "download" button to download the current poem as a text file.
  </li>
</ul>

{% endblock %}